* {
  margin: 0px;
  padding: 0px;
  font-family: "Familjen Grotesk", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0 auto;
  background: #000028;
}

img {
  max-width: 100%;
  display: block;
}
