input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.signup {
  background: #00033d;
  padding: 4rem 3.125rem;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #fec700;
}

input::placeholder {
  color: #fff;
  font-size: 1rem;
}

.email, .senha, .sobrenome, .nome, .cpf {
  font-size: 1.2rem;
  color: #fff;
  border: none;
  width: 250px;
  padding: 1rem 2rem;
  padding-right: 3rem;
  border-radius: 5px;
  background: rgba(139, 139, 255, 0.1);
  border: none;
}

.box {
  position: relative;
}

ion-icon {
  position: absolute;
  font-size: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.check {
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}


.check input {
  margin: 0;
  position: relative;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: rgba(139, 139, 255, 0.1);
  border: none;
  cursor: pointer;
}

.check input:after {
  content: '';
  position: absolute;
  width: 10px;                         
  height: 10px;
  background-color:#fff; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 2px;
}

.check input:checked{
  border: 2px solid #fec700;
}

.check input:checked:after {
  opacity: 1;
}

.termos {
  color: #fec700;
  font-weight: bold;
}

.termos:hover {
  text-decoration: underline;
}

.sign-btn {
  font-weight: bold;
  text-transform: uppercase;
  color: #2e2400;
  background: linear-gradient(to bottom, #fec700, #ffaa00);
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #534b00;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-o-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-ms-calendar-picker-indicator {
  display: none;
}

@media (max-width: 520px) {

  .signup {
    padding: 2rem 1.7rem;
    margin: 0px auto 20px 0px;
  }
}

@media (max-width: 392px) {

  .email, .senha, .sobrenome, .nome, .cpf {
    width: 220px;
  }

  ion-icon {
    right: 1rem;
  }

  .check {
    gap: .3rem;
  }

  .signup {
    padding: 2rem .8rem;
  }
}

@media (max-width: 330px){
  ion-icon {
    right: 3rem;
  }
  .email, .senha, .sobrenome, .nome, .cpf {
    width: 150px;
  }
}
